@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* === Global === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 0.2s linear;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

.title-container {
  display: flex;
  padding: 15px 0;
  justify-content: center;
}

.title {
  text-align: center;
  color: #212121;
  font-weight: 400;
}

.book-icon {
  font-size: 28px;
  margin: 8px 8px 0 0;
  color: #E9486C;
}

.form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 0;
}

.input-title {
  margin: 0 0 5px 0;
}

.input {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: #141414;
  border: 1px solid #CDD9ED;
  background: #fff;
  transition: border .2s ease;
  margin: 0 0 10px 0;
}

.input.error  {
  border: 2px solid #f23054;
}

.input::placeholder {
  color: #CBD1DC;    
}

.input:focus {
  outline: none;
  border-color: #f75c7e;    
}

.add-btn {
  display: block;
  width: 100%;
  padding: 16px 0;    
  -webkit-appearance: none;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  color: #fff;
  background-color: #f55377;
  cursor: pointer;
  transition: ease 0.2s;
}

.add-btn:hover {
  background-color: #f5476e;
}

.table {
  border-collapse: collapse;
  width: 85%;
  margin: 40px 50px;
}

.thead {
  border-bottom: solid 1px #CDD9ED;
  width: 100%;
  padding: 20px
}

td, th {
  text-align: left;
  padding: 8px 0;
}

td {
  padding: 15px 0;
  margin: 0 0 5px 0;
  font-size: 14px;  
}

.trow {
  background-color: #F3F1F3;
}

.trow:nth-child(even) {
  background-color: #fff;
}

.delete-btn {
  font-size: 18px;
  cursor: pointer;
  color: #db0042;
  transition: ease 0.2s;
}

.delete-btn:hover {
  color: #b3073b;
}

/* === Dark Mode === */
.label {
  width: 50px;
  height: 22px;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 5px;
  position: absolute;
  transform: scale(1.5);
  margin-left: 85%;
  top: 5%;
  cursor: pointer;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.ball {
  width: 19px;
  height: 18px;
  position: absolute;
  background-color: #fff;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.checkbox:checked ~ .table .trow {
  background-color: #131821;
}

.checkbox:checked ~ .table .trow:nth-child(even) {
    background-color: #0D1117;
}

.checkbox:checked ~ .table .trow td {
  color: #ACB4BA;  
}

.dark {
  background-color: #0D1117;
}

.light-text {
  color: #ACB4BA;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

/* === Responsive === */
@media(max-width: 500px) {
  .label {
    width: 48px;
    height: 22px;
    margin-left: 72%;
    top: 11%;
  }
}

